<a href="https://colab.research.google.com/github/JaeHoon828/transportation_analysis/blob/main/python_pratice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+1

2

In [ ]:
a="Hello World"
a

'Hello World'

In [ ]:
a=2
if a>1:
  print("a is greater than 1")

a is greater than 1

In [ ]:
for a in [1,2,3]:
  print(a)

1
2
3

In [ ]:
i=0
while i<3:
  i=i+1
  print(i)

1
2
3

In [ ]:
def add(a, b):
  return a+b

In [ ]:
add(3,4)

7

In [ ]:
money=True
if money:
  print("택시를 타고가라")
else:
  print("걸어 가라")

택시를 타고가라

In [ ]:
4 in [1,2,3]

False

In [ ]:
3 in [1,2,3]

True

In [ ]:
1 not in [1,2,3]

False

In [ ]:
pocket = ['paper','cellphone','money']
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

택시를 타고 가라

In [ ]:
marks=[90,25,67,45,80]

number=0
for mark in marks:
  number = number+1
  if mark>=60:
    print("%d번 학생은 합격입니다." % number)
else:
    print("%d번 학생은 불합격입니다." % number)[]

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.
5번 학생은 불합격입니다.

In [ ]:
a=range(10)
a

range(0, 10)

In [ ]:
add=0
for i in range(1,11):
  add=add+i
print(add)

55

In [ ]:
[70,60,55,75,95,90,80,80,85,100]

In [ ]:
scored=[70,60,55,75,95,90,80,80,85,100]

number=0
for score in scored:
  number += score
average=number/len(scored)
print(average)

79.0

In [ ]:
def add(a+b):
  return a + b

SyntaxError: ignored

In [ ]:
def is_odd(A):
  if A % 2 == 1:
    return print("홀수")
  else:
    return print("짝수")

is_odd(3)
is_odd(4)

홀수
짝수